@{
    ViewBag.Title = "Vogne";
}

<h2>Vogne</h2>
@Html.ActionLink("+ Opret vogn", "AddVehicle", null, new {@class="add"})
<div class="list vehicles">
    <div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
    </div>
    <div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>
            @Html.ActionLink("Redigér", "EditVehicle/1")
        </div>
    </div>
    <div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>
            @Html.ActionLink("Redigér", "EditVehicle/2")
        </div>
    </div>
    <div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>
            @Html.ActionLink("Redigér", "EditVehicle/3")
        </div>
    </div>
    <div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>
            @Html.ActionLink("Redigér", "EditVehicle/4")
        </div>
    </div>
    <div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>Info</div>
        <div>
            @Html.ActionLink("Redigér", "EditVehicle/5")
        </div>
    </div>
</div>